

body {
  margin: 0;
  background: #F6E27F;
  color: #252627;
  font-size: 16px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

/* had to set main text width here, not under article otherwise the information wouldn't appear centered */
main article section p {
  padding: 10px;
}



footer {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  text-align: center;
}

h1 {
  text-align: center;
  font-size: 40px;
  font-family: Helvetica, sans-serif;
  color: #4B88A2;
  padding: 10px;
  height: 15px;
}

h2 {
  text-align: center;
  font-size: 18px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  color: #251605;
  padding: 5px;
}

/* needed the ol li's to remain left and couldn't text-align center for div */
img {
  width: 70%;
  margin: auto;
  display: block;
} 


h3 {
  text-align: center;
  font-size: 18px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  color: #4B88A2;
  padding: 10px;
  height: 5px;

}

/* div {
  width: 400px;
  margin: auto;
  padding: 10px; 
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
   color: #252627;
} */

hr {
  /* width: 400px; */
}

article {
  border: 5px solid #A8B7AB;
  color: #251605;
  max-width: 400px;
  margin: 0 auto;
  padding: 15px;  
}

main {
  background-color: #E2C391;
  padding:  30px;
}

a {
  color: #4B88A2;
}

a:hover {
  color: #251605;
}


